@media (max-width: 48em) {
    .field__box {
        flex-direction: column;
        gap: 0;
    }
}

/* Width = 600px */
@media (max-width: 37.5em) {


    .heading--secondary {                                                                                                                        
        font-size: 2rem;
    }

    .heading--tertiary {
       
        font-size: 1.4rem;
    }


    

    .field__box-content {
        gap: 0;
    }


    .input-field {
        font-size: 1.2rem !important;
    }

    

    /* sócios */

    .shareholders-filter__tab-list {

        overflow-x: scroll;
        flex-wrap: nowrap;
        /* IOS - Scroll suave através do toque */
        -webkit-overflow-scrolling: touch;
        
}

    .shareholder__card {
        gap: 2rem;
    }

    .shareholder__card .field__box-content {
        gap: 2rem;
    }

}